In [1]:
import sqlite3

In [2]:
connection = sqlite3.connect("student.db")

In [4]:
cursor=connection.cursor()

In [5]:
table_info=""" Create table student (name varchar(255),class varchar(255),section varchar(255),marks int)
"""

In [6]:
cursor.execute(table_info)

OperationalError: table student already exists

In [8]:
cursor.execute('''insert into student values('Krish','Data Science','A',90)''')
cursor.execute('''Insert Into STUDENT values('John','Data Science','B',100)''')
cursor.execute('''Insert Into STUDENT values('Mukesh','Data Science','A',86)''')
cursor.execute('''Insert Into STUDENT values('Jacob','DEVOPS','A',50)''')
cursor.execute('''Insert Into STUDENT values('Dipesh','DEVOPS','A',35)''')
data = cursor.execute('''select * from student''')
for row in data:
    print(row)

# commite your changes in database
connection.commit()
connection.close()

('Krish', 'Data Science', 'A', 90)
('John', 'Data Science', 'B', 100)
('Mukesh', 'Data Science', 'A', 86)
('Jacob', 'DEVOPS', 'A', 50)
('Dipesh', 'DEVOPS', 'A', 35)

In [19]:
connection=sqlite3.connect('student.db')
cursor=connection.cursor()
cursor.execute('''select * from student''')
data=cursor.fetchall()
for row in data:
    print(row)
connection.commit()
connection.close()

('Krish', 'Data Science', 'A', 90)
('John', 'Data Science', 'B', 100)
('Mukesh', 'Data Science', 'A', 86)
('Jacob', 'DEVOPS', 'A', 50)
('Dipesh', 'DEVOPS', 'A', 35)

In [20]:
print(student.db)

NameError: name 'student' is not defined